*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build/
/captures/
.externalNativeBuild
.cxx
local.properties
app/src/asset/stitch_remix_of_lumora_ai_splash_screen
backend
backend
backend

.kotlin
**/__pycache__/
.env
*.kiro/
app/google-services.json
app/src/asset

demo_cloudflare.py
demo_output.png

.agents
/backend/
