*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build/
/captures/
.externalNativeBuild
.cxx
local.properties
app/src/asset/stitch_remix_of_lumora_ai_splash_screen
.android-sdk/

.kotlin
**/__pycache__/
backend/.venv
.env

app/google-services.json
app/src/asset

demo_cloudflare.py
demo_output.png

.agents